body {
	background-image: url("koyuki.jpg");
	background-size: 100vw 100vh;
	font-family: 'Comic Sans MS', sans-serif;
}

#koyukiball {
	position: absolute;
	left: calc(50% - 150px);
	bottom: calc(50% - 150px);
	cursor: pointer;
}

#counter {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	width: 99%;
	position: absolute;
	bottom: calc(50% + 110px);
}